.About{
    margin-bottom: 17.6rem;
}
.section_about-title{
    text-align: center;
    font-weight: 400;
    font-size: 4.8rem;
    margin-top: 17.4rem;
    margin-bottom: 9.3rem;
}
.about_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}
.about_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content: center;
    text-align: center;
}
.about_block-img{
    height: 80px;
}
.about_block-text{
    font-weight: 400;
    font-size: 2rem;
}
@media screen and (max-width:480px) {
    .About{
        margin-bottom: 7.2rem;
    }
    .section_about-title{
        margin-top: 7.2rem;
        margin-bottom: 4.2rem;
        font-size: 2.8rem;
        line-height: 2.7rem;
    }
    .about_content{
        flex-direction: column;
    }
    .about_block{
        margin-bottom: 0;
        gap: 2.5rem;
    }
    .about_block-text{
        font-size: 1.6rem;
        line-height: 150%;
    }
}