@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* нужного шрифта нет на гугл фонт, я его и качал, пытался подключить, не получилось, я нашел похожий но это печально( */

.footer {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);  /*я хз зачем тени, но в макете они есть(*/
  max-width: 1920px;
  height: 448px;
  display: flex; 
  justify-content: space-between;
  align-items: center;

}


.hrefs, .about-us, .sub-on-news {
  width: 600px;
  height: 400px;
      border: 2px solid black; /*потом убрать */
  margin-top: 80px;
  font-family: "Comfortaa";
  font-size: 16px;
  line-height: 16.38px;
}

/* <3 */

