  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.footer {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  box-shadow: 0px -2px 8px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

}


.hrefs, .about-us, .sub-on-news {
  width: 450px;
  height: 350px;
  margin-top: 80px;
  font-family: "Comfortaa";
  font-size: 16px;
  line-height: 16.38px;
  margin-top: 84px;
}


.set_menu {
  margin-bottom: 27px;
  
}


.icons {
  margin-top: 63px;
  margin-bottom: 28px;
  margin-right: 24px;
}


.set_text {
  color: #363431;
  text-decoration: underline;
}


.bl_color {
  color: #828282;
  text-decoration: underline;
}


.mar_b {
  margin-bottom: 31px;
}


.par_one {
  line-height: 170%;
  margin-bottom: 18px;
}


.par_two {
  line-height: 150%;
}


.mrg_bt {
  margin-bottom: 28px;
}


.text_set1 {
  line-height: 170%;
}


.form {
  width: 376px;
  height: 48px;
  margin-top: 40px;
  display: flex;
}


.input_1 {
  width: 272px;
  height: 48px;
  background-color: #F3F3F3;
  font-size: 14px;
  padding-left: 16px;
}


.but_1 {
  width: 104px;
  height: 48px;
  background-color: #74B900;
}


.list_1 {
  display: flex;
} 


.fixx {
  position: relative;
  bottom: -118px;
}