@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3.2rem;
}
.main_nav{
    display: flex;
}
.nav{
    padding-right: 5.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Comfortaa";
    color: black;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_2{
    padding: 1.6rem;
}
.contacts_icon{
    background-color: green;
    border-radius: 50%;
}
.number{
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Comfortaa";
}
.address{
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "Comfortaa";
    line-height: 21px;
}
.place{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_3{
    padding: 1.6rem;
}
