.stock{
    color: #363431;
    margin-bottom: 17rem;
}
.stock__title{
    text-align: center;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 46px;
    margin-bottom: 8rem;
}
.stock_block{
    display: flex;
    gap: 3.8rem;
    align-items: flex-start;
}
.stock_block-body{
    display: flex;
    flex-direction: column;
}
.stock_body-title{
    padding-top: 8rem;
    font-weight: 400;
    font-size: 3.2rem;
}
.stock_body-text{
    padding: 2.4rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
}
.stock_body-price{
    color: #74B900;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 170%;
}
.stock_body-fullprice{
    font-size: 1.6rem;
    text-decoration: line-through;
}
.stock_body-link{
    color: #363431;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 170%;
}
.stock_body-link::after{
    content: "";
    width: 83px;
    display: block;
    height: 1px;
    background-color: #363431;
}
.slider-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 7.2rem;
}
.dot{
    width: 16px;
    height: 16px;
    background-color: #AEACAA;
    border-radius: 50%;
}
.dot_active{
    background-color: #363431;
}
.slider_left{
    padding-right: 12rem;
}
.slider_right{
    padding-left: 12rem;
}
@media screen and (max-width: 480px){
    .stock{
        max-width: 100%;
        margin-bottom: 5rem;
    }
    .stock__title{
        margin-bottom: 4rem;
        font-size: 2.8rem;
    }
    .stock_block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 1.6rem;
    }
    .stock_body-text{
        padding: 1.6rem 0;
        font-size: 1.4rem;
    }
    .image_stock{
        width: 100%;
    }
    .stock_body-price{
        font-size: 2rem;
    }
    .stock_body-title{
        font-size: 2rem;
        padding: 2.4rem 0 1.6rem;
    }
    .stock_block-body{
        padding: 0 2.4rem;
    }
    .stock_body-link{
        font-size: 1.6rem;
    }
    .stock_body-link::after{
        width: 75px;
    }
    .slider-dots{
        gap: 1.6rem;
        margin-top:3rem;
        justify-content: space-around;
        align-items: center;
    }
    .dot{
        width: 8px;
        height: 8px;
    }
    .slider_left{
        padding-right: 6.4rem;
    }
    .slider_right{
        padding-left: 6.4rem;
    }
}