.studio{
    margin-bottom: 34rem;
}
.studio_title{
    color: #363431;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 130%;
    text-align: center;
    margin-bottom: 8rem;
}

.studio_wrap{
    display: grid;
    grid-row-gap: 3.2rem;
    grid-column-gap: 3.2rem;
    grid-template-areas: 
        "fat fat weight weight"
        "fat fat block_gray block_green";
    justify-content: center;
}
.studio_fat{
    grid-area: fat;
    width: 100%;
}
.studio_weight{
    grid-area: weight;
    max-width: 648px;
    width: 100%;
}
.studio_blocks{
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.studio_block-gray{
    grid-area: block_gray;
    background-color: #C6C6C6;
}
.studio_blocks-green{
    grid-area: block_green;
    background-color: #C7DF9E;
}
.studio_text{
    /* padding: 0 0.8rem; */
    padding: 6rem 5rem;
}
@media screen and (max-width:480px) {
    .studio{
        margin-bottom: 7.2rem;
    }
    .studio_title{
        font-weight: 400;
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    .studio_wrap{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        align-content: center;
        gap:2.4rem;
        margin: 0 1.6rem;
    }
    .studio_weight{
        width: 100%;
    }
    .studio_blocks{
        max-width: 100%;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 130%;
    }
    .studio_text{
        padding: 5rem 2rem;
    }
} 