@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.Title{
    background-image: url("../images/MainBanner.jpg");
    background-position: center center;
    background-size: cover;
    height: 840px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.correction{
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 5.6rem;
    color: #FFFFFF;  
    text-align: center;
}
.correction::after{
    content: '';
    display: block;
    height: 2px;
    width: 120px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 4rem auto 0;
    margin-bottom: 4rem;
}
.studio_title_1{
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
    margin-bottom: 8rem;
}
.call{
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 2rem;
    color: #FFFFFF;
    border: 2px solid white ;
    padding: 3rem 4.5rem;
    border-radius: 10px;
    margin-bottom: 15.9rem;
}